@import './base.css';

body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	user-select: none;
	font-family: 'Pixelify Sans Variable', system-ui;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button {
	background: none;
	background-color: whitesmoke;
	border: none;
	padding: 10px;
	border: 0.5px solid black;
	font-family: inherit;
}

button:has(img) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

#button-container,
#create-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: normal;
}

button:hover {
	cursor: pointer;
	background-color: #f8f8ff;
}

input {
	font-family: inherit;
}

.left {
	border-radius: 10px 0 0 10px;
	border-right: 1px solid gray;
}

.right {
	border-radius: 0 10px 10px 0;
	border-left: none;
}

.select__control {
	margin: 10px;
	width: 300px;
}

#create-container button {
	border-radius: 10px;
}
